/* Body styles for the entire page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    
  }
  
  /* Container for the report */
  .report-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:pink;
    border-radius: 6px;
  
    
  }
  
  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: #d9534f;
    font-size: 18px;
    margin-top: 20px;
  }
  
  /* Colorful background for the entire page */
  .page-background {
    background-color: #fcfcfc;
    background-image: linear-gradient(to right, #fcb69f, #fda085, #fdd36d, #fce450, #f9eb3d);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #191212;
  }
  
  table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  /* Button styling */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(207, 50, 50);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #9545a0;
  }
  
  @media (max-width: 768px) {
    .report-container {
      padding: 15px;
     
    }
    
    h2 {
      font-size: 24px;
    }
    
    pre {
      font-size: 14px;
      padding: 10px;
      max-height: 400%;
    }
  }
  