<div class="topnav">
  <a href="/">
    <img src="assets/pictures/logo.png" alt="Logo" class="logo">
  </a>
  

  <ng-container *ngIf="!auth.isLoggedIn()">
    <h2><mat-icon>assessment</mat-icon>InventoryTrack</h2>
  </ng-container>

  <ng-container *ngIf="auth.isLoggedIn()">
    <h1><mat-icon>assessment</mat-icon>InventoryTrack</h1>

    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/create-product" routerLinkActive="active">Create</a>
    <a routerLink="/report" routerLinkActive="active">Report</a>
    <a routerLink="/sale" routerLinkActive="active">SaleTable</a>
    <a routerLink="/record-sales" routerLinkActive="active">Sale</a>
    <a class="active1" routerLink="/register">Register</a>
    
    <div class="user-info" (click)="toggleProfileCard()">
      <img src="assets/pictures/usericon.png" alt="User Icon" class="logo">
      <span class="username">{{ username }}</span>
    </div>
    <button class="logout-button" (click)="logout()">Logout</button>
  </ng-container>
</div>

<!-- Profile Card -->
<div class="profile-card" *ngIf="isProfileCardVisible">
  <button class="close-button" (click)="toggleProfileCard()">✖</button>
  <div class="profile-img">
    <img [src]="image" alt="Profile Image">
  </div>
  <div class="profile-info">
    <h2 class="fullname">{{ fullname }}</h2>
    <p class="mail"><i class="material-icons">email</i> {{ email }}</p>
    <p class="id"><i class="material-icons">badge</i> User ID: {{ id }}</p>
    <p class="user-id"><i class="material-icons">perm_identity</i> ID: {{ userId }}</p>
  </div>
</div>

<router-outlet></router-outlet>
