
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #36454f;
  border-bottom: 1px solid #444;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 90px;
  width: 1630px;
}

.topnav .logo {
  height: 50px;
  transition: transform 0.3s;
  margin-left: 40px;
}

.topnav .logo:hover {
  transform: scale(1.1);
}

.topnav h1 {
  margin: 0;
  font-size: 35px;
  color: #ffff;
  margin-left: -40px;
}

.topnav a {
  margin: 0 15px;
  text-decoration: none;
  color: #61dafb;
  font-weight: 500;
  position: relative;
  transition: color 0.3s, transform 0.3s;
  font-size: medium;
  margin-right:90px;
}

.topnav a:hover {
  color: #ffff;
  transform: scale(1.1);
}

.topnav a.active {
  font-weight: bold;
  color: #ffff;
  left:220px;
  
}
.topnav a.active1 {
  font-weight: bold;
  color: #ffff;

  
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #61dafb;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.navbar ul li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #21a1f1;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover::before,
.navbar ul li a.active::before {
  visibility: visible;
  width: 100%;
}

.navbar ul li a:hover {
  color: #21a1f1;
  transform: scale(1.1);
}

.navbar ul li a.active {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  color: #61dafb;
}

.username {
  margin-right: 15px;
  font-size: 16px;
  color: #61dafb;
  font-weight: 500;
}

.logout-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #ff453a;
  transform: scale(1.1);
}

/* Make sure content fits well in mobile views */
@media (max-width: 768px) {
  .topnav {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .username {
    margin-bottom: 10px;
  }
}

