<!-- Search Section -->
<div class="sort-container">
  <label for="searchCriteria">Search By:</label>
  <select id="searchCriteria" [(ngModel)]="searchCriteria">
    <option value="id">ID</option>
    <option value="name">Name</option>
  </select>
</div>

<div class="search-container">
  <label for="searchValue"></label>
  <input class="search" type="text" id="searchValue" [(ngModel)]="searchValue">
  <button (click)="searchProduct()">
    Search
    <mat-icon>search</mat-icon> <!-- Material Icon for search -->
  </button>
</div>

<hr>

<!-- Product List -->
<div *ngIf="!productDetails && productList.length > 0" class="card-container">
  <div
    class="card list-view"
    *ngFor="let product of productList"
    (click)="showProductDetails(product)"
  >
    <div class="card-header">
      <img [src]="product.image" alt="{{ product.productName }}" style="width:100%">
      <h2>{{ product.productName }}</h2>
    
      <p [ngClass]="{'stock': true, 'low-stock': product.stockStatus === 'Low Stock', 'available-stock': product.stockStatus === 'Available'}">
        {{ product.stockStatus }}
      </p>
      
      <p class="price">₹{{ product.price }}</p>

    </div>
  </div>
</div>

<!-- Product Detail View -->
<div *ngIf="productDetails" class="product-detail-view">
  <div class="product-image">
    <img [src]="productDetails.image" alt="{{ productDetails.productName }}">
  </div>
  <div class="product-info">
    <h2>{{ productDetails.productName }}</h2>
    <p><strong>Description:</strong> {{ productDetails.description }}</p>
    <p><strong>Stock Level:</strong> {{ productDetails.stockLevel }}</p>
    <p><strong>Price:</strong> {{ productDetails.price }}</p>

    <label for="productName">Product Name:</label>
    <input type="text" id="productName" [(ngModel)]="updatedProduct.productName">

    <label for="description">Description:</label>
    <input type="text" id="description" [(ngModel)]="updatedProduct.description">

    <label for="price">Price:</label>
    <input type="number" id="price" [(ngModel)]="updatedProduct.price">

    <label for="threshold">Threshold:</label>
    <input type="number" id="threshold" [(ngModel)]="updatedProduct.threshold">

    <label for="stockLevel">Stock Level:</label>
    <input type="number" id="stockLevel" [(ngModel)]="updatedProduct.stockLevel">

    <button (click)="updateProduct()">Update Product</button>
    <button (click)="deleteProduct(productDetails.productID)"><mat-icon>delete</mat-icon></button>

    <p *ngIf="updateSuccessMessage" class="success-message">{{ updateSuccessMessage }}</p>
    <p *ngIf="updateErrorMessage" class="error-message">{{ updateErrorMessage }}</p>
  </div>
</div>
