.sales-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .sales-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #36454f;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
  }
  
  thead {
    background-color: #36454f;
    color: #fff;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transform: scale(1.01);
    transition: transform 0.2s;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
  }
  
  p {
    text-align: center;
    color: #ff6f61;
  }
  
  /* Container for the sort dropdown */
.sort-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

/* Style for the label */
.sort-container label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-right: 10px; /* Space between label and dropdown */
}

/* Style for the select dropdown */
.sort-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

/* Style for the dropdown on focus */
.sort-container select:focus {
  border-color: #4CAF50; /* Change border color on focus */
}

/* Option styling */
.sort-container option {
  padding: 10px;
}
